<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotawish.leaveword.mapper.ExamPaperTagMapper">
  <resultMap id="BaseResultMap" type="com.quotawish.leaveword.model.entity.ExamPaperTag">
    <!--@mbg.generated-->
    <!--@Table exam_paper_tag-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, paper_id, tag_id, created_at
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update exam_paper_tag
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="paper_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.paperId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="tag_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.tagId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="created_at = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createdAt,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update exam_paper_tag
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="paper_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.paperId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.paperId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="tag_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tagId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.tagId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_at = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdAt != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createdAt,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into exam_paper_tag
    (paper_id, tag_id, created_at)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.paperId,jdbcType=INTEGER}, #{item.tagId,jdbcType=INTEGER}, #{item.createdAt,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
  <delete id="deleteByPrimaryKeyIn">
    <!--@mbg.generated-->
    delete from exam_paper_tag where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=", ">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  <insert id="insertOnDuplicateUpdate" keyColumn="id" keyProperty="id" parameterType="com.quotawish.leaveword.model.entity.ExamPaperTag" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into exam_paper_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      paper_id,
      tag_id,
      created_at,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{paperId,jdbcType=INTEGER},
      #{tagId,jdbcType=INTEGER},
      #{createdAt,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      paper_id = #{paperId,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOnDuplicateUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.quotawish.leaveword.model.entity.ExamPaperTag" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into exam_paper_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>